:root {
    --color1: #EA907A;
    --color2: #FBC687;
    --color3: #F4F7C5;
    --color4: #AACDBE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--color4);
}

h1{
    padding: 15px;
}

.contenedor{
    background-color: hsl(154, 43%, 61%);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

form{
    width: 30%;
    padding: 15px;
    background-color: var(--color2);
    border-radius: 5%;
}

main{
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    box-shadow: 0 5px 5px -3px black;
    transition: all;
    max-width: 18rem;
}


