@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


:root {
    --color1: #EA907A;
    --color2: #FBC687;
    --color3: #F4F7C5;
    --color4: #AACDBE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(12, 73%, 90%);
}

.navbar1 {
    height: 80px;
    background-color: var(--color1);
    display: flex;
    padding: 0 40px;
    align-items: center;
    justify-content: space-around;
    color: var(--color3);
}

.navbar-logo {
    width: 70px;
    /* height: 30px; */
}

.navbar-lu>li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar-lu>li>a {
    color: var(--color3);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

.navbar-lu>li>a:hover {
    color: var(--color4);
}

.navbar-content-shop-user {
    display: flex;
}

.navbar-content-shop {
    margin-right: 50px;
    display: flex;
    cursor: pointer;
    position: relative;
}

.navbar-shop,
.navbar-user {
    font-size: 30px;
    cursor: pointer;
}

.navbar-count {
    min-width: 20px;
    min-height: 20px;
    background-color: var(--color4);
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    position: absolute;
    bottom: 5px;
    right: -10px;
    font-size: 10px;
}

.name-shop {
    background-color: var(--color3);
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 40px;
    color: var(--color1);
    display: none;
    font-family: sans-serif;
}

.togle-navbar {
    display: none;
}

@media (max-width: 768px) {
    .name-shop {
        display: block;
    }
    .navbar1 {
        height: 60px;
        padding: 0 10px;
        justify-content: space-between;
    }
    .navbar-logo {
        width: 45px;
        margin-left: calc(100%/2);
    }
    .navbar-lu>li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar-lu>li>a:hover {
        color: var(--color1);
    }
    .navbar-content-shop {
        margin-right: 20px;
    }
    .navbar-shop,
    .navbar-user,
    .togle-navbar {
        font-size: 25px;
        cursor: pointer;
    }
    .togle-navbar {
        display: block;
        font-size: 35px;
    }
    .navbar-count {
        min-width: 15px;
        min-height: 15px;
    }
    .navbar-lu {
        background-color: #6cb3a0;
        position: fixed;
        left: -100%;
        top: 110px;
        /* left: 0;
        top: 110px; */
        width: 100%;
        align-items: center;
        height: calc(100% - 110px);
        overflow-y: auto;
        padding: 15px 0;
        transition: left 0.4s;
    }
    .hidden-menu {
        left: 0;
    }
}


.modal-dialog{
    max-width: 300px;
    font-family: "Ubuntu", monospace;
   }
   
   .modal-content{
       background-color: var(--color4);
   }
   
   .modal-footer .btn{
       background-color: var(--color3);
       text-decoration: none;
   }


   .footer-container{
    max-width: 80%;
    margin: auto;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul{
    list-style: none;
}

.footer{
    font-family: 'Ubuntu';
    background-color: var(--color1);
    color: var(--color3);
    padding: 50px 0;
    line-height: 1.5;
    width: 100%;
}

.footer-col{
    padding: 0 15px;
}

.footer-col h4{
    font-size: 28px;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 600;
    position: relative;
    color: hsl(64, 76%, 92%);
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    background-color: hsl(18, 80%, 55%);
    width: 100px;
    height: 2px;
    box-sizing: border-box;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
    color: var(--color3);
}

.footer-col ul li a:hover{
    transform: translateX(10px);
    color: var(--color2);
}

.footer-col .footer-social-links a{
    font-size: 20px;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: hsl(64, 76%, 92%);
    background-color: hsl(18, 80%, 55%);
    transition: all 0.4s ease;
}

.footer-col .footer-social-links a:hover{
    color: hsl(18, 80%, 55%);
    background-color: hsl(64, 76%, 92%);
}

.footer-col ul li a i{
    font-size: 20px;
}

.copyright{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: hsl(12, 73%, 60%);
}

.copyright p{
    padding: 10px 0;

    font-weight: 500;
    color: var(--color3);
}


/* responsive-footer */

@media(max-width: 767px){
    .footer-row{
       justify-content: start;
    }
    
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
        padding: 0;
    }

    .footer-col ul li a{
        font-size: 1rem;
    }

    .footer-col h4{
        font-size: 24px;
    }

    .footer-column a{
        font-size: 16px;
    }
}

   
.main-index {
    min-height: 70vh;
}

.banner-principal {
    background-image: url("https://img.freepik.com/vector-gratis/comic-composicion-brillante-explosivos-rayos-semitono_225004-794.jpg?w=2000");
    background-position: center;
    width: 100%;
    height: 40vh;
    margin: 20px auto;
    background-size: cover;
}

@media (max-width: 768px) {
    .banner-principal {
        height: 30vh;
    }
}

@media (min-width: 998px) {
    .banner-principal {
        height: 50vh;
    }
}


.btn-carrito{
    background-color: #AACDBE;
}

.btn-carrito:hover{
    background-color: #83cfae;
}


.card{
    background-color:#ea907a2e;
    text-align: center;
    max-width: 18rem;
}

#cajaPrincipal{
    width: 100%;
}